<template name="form">
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--   {{#autoForm collection="Things" id="insertThingsForm" type="insert"}} -->
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Fill this Form</h4>
        </div>
        
        <div class="modal-body">

          {{> quickForm collection="Things" type="insert"}}

          
        </div>
        <div class="modal-footer">
        </div>
        <!--       {{/autoForm}} -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</template>