<template name="jobs">
  <br/><br/><br/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3">Job Title</th>
        <th>Email</th>
        <th colspan="2">Job Type</th>
        <th colspan="3">Job summary</th>
        <th>Job location</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each thing}}
      <tr>
        <td colspan="3">{{jobtitle}}</td>
        <td>{{email}}</td>
        <td colspan="2">{{jobtype}}</td>
        <td colspan="3">{{jobsummary}}</td>
        <td>{{joblocation}}</td>
        <td>{{contactdetails}}</td>
        <td><a href="{{pathFor 'insertJobForm' id=_id}}" type="button" class="btn btn-primary">Apply Now</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>